<div class="container unauthorized-page">
    <h1>Неоторизиран достъп</h1>
    <p>Съжаляваме, не сте оторизирани за достъп до тази страница. Моля, проверете вашите пълномощия и опитайте отново.</p>
    <button onclick="window.location.href='/'" class="btn btn-primary">Върни се в началната страница</button>
</div>