.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: left 0.3s ease;
}

.btn-sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #6b6b6b;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .btn-sidebar i {
        margin-right: 10px;
        font-size: 1.2em;
    }

    .btn-sidebar:hover {
        background-color: #145300d9;
        border-color: #ffffff;
        text-decoration: none;
    }

.sidebar > img {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #007bff;
    text-decoration: none;
}

.sidebar.open {
    left: 0;
}

@media (min-width: 768px) {
    .sidebar {
        left: 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        top: 56px;
    }
}

.navbar {
    padding: 0.5rem 1rem;
}

.pe-3 {
    padding-right: 1rem !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 0.5rem;
}

.border-end {
    border-right: 1px solid #000 !important;
}

.border-start {
    border-left: 1px solid #000 !important;
}

.separator {
    width: 2rem;
}

.offcanvas {
    width: 250px;
}

.sidebar {
    padding: 15px;
}

.nav-item.my-2 {
    margin: 10px 0;
}


@media (min-width: 576px) {
    .offcanvas {
        display: none;
    }
}